.App {
  background-color: rgb(246, 239, 239);
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
}

.Dashboard {
  background-color: white;
  width: 100%;
  height: max-content;
  margin: 10px;
  border-radius: 10px;
}

#assessments_overview{
  display: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.OnlyMobView {
  visibility: hidden;
}

.form-control{
  font-size: 1rem;
}

select.form-control{
  padding-left: 2px;
}

@media screen and (max-width: 620px) {
  .OnlyDesktopView{
    display: none;
    /* visibility: hidden; */
  }
  .OnlyMobView {
    visibility: visible;
    /* display: none; */
  }
  .Dashboard{
    margin: 0;
    border-radius: 0;
  }
}
